<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://www.google.com/css/maia.css">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <div class="Title"><h1>Social Network Manager</h1></div>
    {% block logout %}
    <div class="Right"><p><a class="button" href="{% url 'logout' %}">Logout</a></p></div>
    {% endblock %}
    <div class="Right"><p><a value="reviews" class="button" href="{% url 'boxes:reviews' %}">Reviews</a></p></div>
    <div class="Right"><p><a value="incidence" class="button" href="{% url 'boxes:incidence' %}">Incidences</a></p></div>
    <div class="Generic">
    {% block head %}{% endblock %}
    </div>
</head>


<body>
{% block content %}{% endblock %}
</body>

</html>