{% extends "base.html" %}
{% block title %}
Single Box
{% endblock %}


{% block head %}
<h2>Your Box</h2>
{% endblock %}

{% block content %}
    <p>{{ box_info.box_num }}</p>
    <p>{{ box_info.network }}</p>
    <p>{{ box_info.complement.type }}</p>
    <p>{{ box_info.logged_into_network }}</p>
    <li><a value="Edit Box" href="{% url 'boxes:box_edit' box_info.box_num %}">
                Edit Box</a></li>
    <li><a value="Delete Box" href="{% url 'boxes:delete_box' box_info.box_num %}">
                Delete Box</a></li>
{% endblock %}