{% extends "base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block head %}
<h2>Your social networks</h2>
{% endblock %}


{% block content %}
<table>
    {% for box in user_box %}
        {% if counter.pair %}
            <tr>
        {% endif %}
        <td>
            <form action = "/" method="post">{% csrf_token %}
                <p>{{ box.box_num }}</p>
                <p>{{ box.network }} {{ box.complement }}</p>
                <input type="hidden" name="box_number" value="{{ box.box_num }}"/>
                <input type="submit" value="View box"/>
            </form>
        </td>
        {{ counter.increment }}
        {% if counter.pair %}
            </tr>
        {% endif %}
    {% empty %}<p> Sorry, no boxes created </p>
    {% endfor %}
    {% if counter.is_less_than_eight %}
        <td>
            <p>boto de inserir box aquí</p>
        </td>
    {% endif %}
    </tr>
</table>
{% endblock %}
