
{% extends "base.html" %}
{% load mathfilters %}
{% block title %}
Homepage
{% endblock %}

{% block head %}
<h2>Your social networks</h2>
{% endblock %}


{% block content %}
{{ sections_iterator.new_box }}
<table>


    {% for section in "x"|rjust:"8" %}
        {% if sections_iterator.pair %}
        <tr>
            {% endif %}
            {% for box in user_box %}
                {% if sections_iterator.get_box_num == box.box_num %}
                    <td>
                        <p>{{ sections_iterator.get_box_num }}</p>
                        <form action = "/" method="post">{% csrf_token %}
                            <p>{{ user_box.box_iterator.box_num }}</p>
                            <p>{{ box.network }} {{ box.complement }}</p>
                            <p>
                                <a href="{% url 'boxes:box_detail' box.box_num %}">
                                    View Box
                                </a>
                            </p>
                        </form>
                        </td>
                {{ sections_iterator.not_new_box }}
                {% endif %}
            {% endfor %}
            {% if sections_iterator.is_new_box %}
            <td>
                <p>{{ sections_iterator.get_box_num }}</p>
                <p>
                    <a href="{% url 'boxes:create_box' sections_iterator.get_box_num %}">
                        New Box
                    </a>
                </p>

            </td>
            {% else %}
                {{ sections_iterator.new_box }}
            {% endif %}

        {{ sections_iterator.increment }}
        {% if sections_iterator.pair %}
            </tr>
        {% endif %}


    {% endfor %}
</table>
{% endblock %}
