{% extends "base.html" %}
{% block title %}
Homepage
{% endblock %}

{% block head %}
<h2>Your social networks</h2>
{% endblock %}


{% block content %}
<table>
    {% for box in user_box %}
        {% if counter.pair %}
            <tr>
        {% endif %}
        <td>
            <p>{{ box.box_num }}</p>
            <p>{{ box.network }} {{ box.complement }}</p>
            <li><a href="{% url 'boxes:box_detail' box.box_num %}">
                View Box</a></li>
        </td>
        {{ counter.increment }}
        {% if counter.pair %}
            </tr>
        {% endif %}
    {% empty %}<p> Sorry, no boxes created </p>
    {% endfor %}
    {% if counter.is_less_than_eight %}
        <td>
            <p></p>
            <form action="/box/create/" method="GET">{% csrf_token %}
                <input type="hidden" name="box_number" value="{{ counter.get_box_num }}"/>
                <input type="submit" value="New box"/>
            </form>
        </td>
    {% endif %}
    </tr>
</table>
{% endblock %}
