{% extends "base.html" %}

{% block head %}
<h2>Reviews list</h2>
{% endblock %}

{% block content %}
<span vocab="http://schema.org/" typeof="Review">
    <a value="Create Review" href="{% url 'boxes:review-create' %}">
        Create review
    </a>
    {% for review in reviews %}
        <hr>
        <td>
        <p>
            <span property="author">
                User: {{ review.user }}
            </span>
        </p>
        <p>
            <span property="itemReviewed">
                Network: {{ review.network }}
            </span>
        </p>
        <span property="reviewBody">
            <p>Title: {{ review.title }}</p>
            <p>Opinion: {{ review.explanation }}</p>
        </span>
        <p rel="reviewRating" typeof="Rating">
            <scan property="ratingValue">
                How good the product is: {{ review.who_to_recommend }}
            </scan>
        </p>
        <p>Date of opinion: {{ review.date }}</p>
        </td>
    {% endfor %}
</span>
{% endblock %}