{% extends "base.html" %}

{% block head %}
<h2>Reviews list</h2>
{% endblock %}

{% block content %}
<span vocab="http://schema.org/" typeof="Review">
    <a value="Create Review" href="{% url 'boxes:review-create' %}">
        Create review
    </a>

    <p rel="reviewRating" typeof="Rating">
    <h3>Best punctuations</h3>
    {% for review in best_reviews %}
        <hr>
        <span property="bestRating">
        <p>Network: {{ review.network }} Punctuation: {{ review.rating }}</p>
        </span>
    {% endfor %}
    <h3>Worst punctuations</h3>
    {% for review in worst_reviews %}
        <hr>
        <span property="worstRating">
        <p>Network: {{ review.network }} Punctuation: {{ review.rating }}</p>
        </span>
    {% endfor %}

    {% for review in reviews %}
        <hr>
        <td>
        <p>
            <span property="author">
                User: {{ review.user }}
            </span>
        </p>
        <p>
            <span property="itemReviewed">
                Network: {{ review.network }}
            </span>
        </p>
        <span property="reviewBody">
            <p>Title: {{ review.title }}</p>
            <p>Opinion: {{ review.explanation }}</p>
        </span>
        <p>How good the product is: {{ review.rating }}</p>
        <p>Date of opinion: {{ review.date }}</p>
        </td>
    {% endfor %}
</span>
{% endblock %}